@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap");

:root {
  --black: #1c1a19;
  --dark-gray: #3c3a39;
  --orange: #ff6b00;
  --light: #fff5e1;
}

body {
  background-color: var(--black);
  margin: 0;
  width: 100%;
  min-width: 395px;
}

.appBar {
  height: 17vh;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#menu-icon {
  width: 24px;
  right: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.logo-text {
  font-size: 3.5vh;
  color: white;
  margin-left: 4%;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.section-headline {
  height: 100vh;
  margin-left: 24px;
  background-image: url("images/Group.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-position: 100% 120%;
}

.heading {
  /* Primary Text */
  height: 124px;
  margin-top: 120px;
  color: var(--orange);
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10vh;
  line-height: 64px;

  /* or 114% */

  letter-spacing: 0.37px;
  margin-bottom: 0;
}

.sub-heading {
  color: var(--light);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 5vh;
  line-height: 32px;

  /* or 133% */
}

.description {
  height: 123px;
  margin-top: 12px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.section-social-media {
  margin-left: 5px;
  padding: 0;
}

.links {
  margin: 0;
  padding-left: 0;
  display: flex;
  list-style: none;
}

.links li {
  margin: 0;
}

.links li a {
  margin-right: 30px;
}

@media (max-width: 395px) {
  body {
    max-width: 395px;
  }

  .appBar {
    height: 92px;
  }

  #menu-icon {
    width: 18px;
    right: 23px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .logo-text {
    font-size: 18px;
    margin-left: 12px;
    margin-bottom: 20px;
  }

  .heading {
    font-size: 56px;
    line-height: 64px;
    width: 327px;
  }

  .sub-heading {
    margin-top: 12px;
    height: 27px;
    font-weight: 700;

    /* or 133% */
  }

  .section-headline {
    background-image: url("images/Group.png");
    background-repeat: no-repeat;
    background-position: fixed;
    background-position: 100% 110%;
  }

  .links li a {
    margin-right: 30px;
  }

  .description {
    width: 327px;
    height: 123px;
  }
}
